<!-- header.ejs -->

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-4">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Title</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Title of the survey" name="title" value="<%= survey.Title %>" required>
              </div>
 
              <div class="form-group">
                <label for="DescriptionTextArea">Description</label>
                <input type="text" class="form-control" id="AuthorTextField"
                placeholder="Enter a brief description of the book" name="description" value="<%= survey.Description %>"  required>
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/books" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<!-- footer.ejs -->