<%- include layout/header %>

<div class="jumbotron" style="background-color: rgb(253, 242, 242); color: brown;">
  <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; color: rgb(71, 3, 3); text-align: center;" class="display-6">One of the best online survey tool.</h3>
</div>

<!-- Card code starts here -->
<div class="container-fluid" style="background-color: brown; color: brown;">
  <div class="row">
    <div class="col-sm-4">
      <div style="height: 100%; position: relative;">
        <a href="/survey" class="btn btn-primary" style="background-color: brown; width: fit-content; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 150%;">
          Check out the surveys!
        </a>
      </div>
      <!--
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Please Log in</h5>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <a href=""><small id="emailHelp" class="form-text text-muted">Forgot password? </small></a>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: brown;">Login</button>
          </form>
          <p class="card-text">Not a member yet?</p>
          <h6 class="card-subtitle mb-2 text-muted" >Register here</h6>
          <a href="#" class="card-link">Register</a>
        </div>
      </div>
      -->
    </div>
    <div class="col-sm-8">
      <div class="card w-100">
        <div class="card-body">
          <img class="card-img" src="/assets/images/Organize-your-Survey.jpg" alt="" srcset="" style="height: 335px;">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paragraph explaining website survey -->
<div class="container">
  <div class="jumbotron" style="background-color: white; font-size: large;">
    <p style="text-align: center; color: rgb(71, 3, 3);">
      SurveyCity allows users to create web surveys and spread these to their audience.
      These surveys can be used for a variety of purposes, ranging from user research, to
      UX optimization, to understanding visit behaviour, getting product feedback, and more.
      SurveyCity does not limit users to what they want their surveys to be about and is as
      open as possible in order to give users the best experience possible.
    </p>
  </div>
</div>

<div class="container">
  <h1 style="float: left; color: rgb(71, 3, 3); font-family: Georgia, 'Times New Roman', Times, serif;">Why Choose Survey City?</h1>
  <img src="/assets/images/Twemoji2.svg" style="width: 60px; height: 60px; text-align: center;">
</div>

<br>

<!-- Bottom jumbotron-->
<div class="jumbotron jumbotron-fluid" style="background-color:rgb(245, 220, 220);">
  <div class="card-group">
    <div class="card">
      <div style="text-align: center;">
        <img src="/assets/images/freeIcon.jpg" class="card-img-top" alt="..." style="width: 150px; height:150px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">Its free of cost</h5>
        <p class="card-text">Survey City is totally free. You dont need to loose any penny in order to create surveys. You may create 'n' number of surveys 'n' number of times.</p>
      </div>
    </div>
    <div class="card">
      <div style="text-align: center;">
        <img src="/assets/images/template.jpg" class="card-img-top" alt="..." style="width: 150px; height:150px;">
      </div>
      <div class="card-body">
        <h5 class="card-title"> Huge variety of templates</h5>
        <p class="card-text">Survey City offers you hundreds of templates and designs to choose from. It also allows you to customize the templates as you desire.</p>
      </div>
    </div>
    <div class="card">
      <div style="text-align: center;">
        <img src="/assets/images/freeUse.jpg" class="card-img-top" alt="..." style="width: 170px; height:150px;">
      </div>
      <div class="card-body">
        <h5 class="card-title">Very easy to use</h5>
        <p class="card-text">Survey city offers very interactive user experience.You dont need to require any technical knowledge.Yes, its that easy.</p>
      </div>
    </div>
  </div>
</div>

<%- include layout/footer %>
