      <!-- Card code ends here -->
    </main>

    <!-- Bottom Nav -->
    <div>
      <footer>
        <nav style="background-color: brown; text-align: center;" class="navbar fixed-bottom navbar-dark">
          <p style="color: aliceblue; text-align: center; margin: auto;">
            &copy; Copyright 2020 SurveyCity. All Rights reserved.
          </p>
        </nav>
      </footer>
    </div>

    <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
